
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

#webchat {
  height: 100%;
  width: 100%;
}

#webchat * {
  font-size: 1.2rem;
}

#webchat small {
  font-size: .95rem;
}

#webchat iframe {
  border: 1px solid #888;
  border-radius: .3rem;
  display: block;
  height: 160px;
  width: 300px;
  margin: .2rem 0;
}

#webchat iframe[ src *= 'radio.net' ] {
  height: 95px;
  width: 360px;
}

#webchat img {
  max-height: 280px;
  object-fit: contain;
  object-position: top left;
}

#webchat img[ src *= Radiogarden ] {
  max-height: 170px;
}

#webchat a[ href *= 'action=' ] {
  color: #aaa;
  cursor: not-allowed;
  font-size: .9rem;
  text-decoration: none;
}
